# Ignore python cache files
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore all datasets (Crucial for ML)
*.csv
*.xlsx
*.json

# Ignore document files
*.pdf

# Ignore local environment settings
.env
venv/